Raspi-Online-Auswertung/Node-Red-Flow.json
[{"id":"6162bd56.f1f1f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8384a9d.ad75a8","type":"mqtt-broker","z":"","name":"Local-MQTT-Broker","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"278c7934.a84886","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ae1eff3.2ef108","type":"ui_group","z":"","name":"Default","tab":"278c7934.a84886","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c8ba942.b57d7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"261360af.36a9c8","type":"ui_tab","z":"","name":"Fledermauslaute","icon":"dashboard","disabled":false,"hidden":false},{"id":"ff756726.8b6388","type":"ui_group","z":"","name":"Hauptbildschirm","tab":"261360af.36a9c8","order":1,"disp":true,"width":"20","collapse":false},{"id":"9f701da2.0150a8","type":"mqtt in","z":"6162bd56.f1f1f4","name":"Fledermaus","topic":"Fledermaus","qos":"2","datatype":"auto","broker":"b8384a9d.ad75a8","x":210,"y":380,"wires":[["ea8f6486.b69d08"]]},{"id":"d5ff2e3e.ed557","type":"ui_chart","z":"6162bd56.f1f1f4","name":"","group":"ff756726.8b6388","order":1,"width":"0","height":"0","label":"Fledermausfrequenzen","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"Warte auf Daten","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"1024","removeOlderUnit":"1","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":320,"wires":[[]]},{"id":"47561e18.da63b8","type":"debug","z":"6162bd56.f1f1f4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":920,"y":600,"wires":[]},{"id":"ea8f6486.b69d08","type":"json","z":"6162bd56.f1f1f4","name":"","property":"payload","action":"obj","pretty":false,"x":640,"y":480,"wires":[["47561e18.da63b8","d5ff2e3e.ed557"]]}]